In [604]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge

In [606]:
# Загрузка и подготовка данных
data = pd.read_csv('etalon_theatre.csv', sep=',')
data = data.sample(frac=1)
print(data.shape[1])

4

In [608]:
display(data.head(5))

     id                                               name  category  rec
198   4                             Музей уникальных кукол         1    1
33    1                            Музей археологии Москвы         2    1
244   5  Мемориальный музей-квартира художника А.М. Вас...         1    2
266   6                                           Иннопарк         4    3
361   8                                           Музей УК         4    5

In [610]:
display(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 198 to 364
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        500 non-null    int64
 1   name      500 non-null    object
 2   category  500 non-null    int64
 3   rec       500 non-null    int64
dtypes: int64(3), object(1)
memory usage: 19.5+ KB

None

In [612]:
X = data[['id','category']]
y = data[['id','rec']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# Создание и обучение модели
model = LinearRegression()
model.fit(X_train, y_train)

# Оценка модели
model.score(X_test, y_test)

0.8573065998286491

In [614]:
X = data[['id','category']]
y = data[['id','rec']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# Создание и обучение модели с регуляризацией
model = Ridge(alpha=1.0)
model.fit(X_train, y_train)

# Оценка модели
model.score(X_test, y_test)

0.8478335388443317

In [634]:
example = {'id':[1], 
           'category':[5]
          }
example_df = pd.DataFrame(example)
model.predict(example_df)

array([[1.00163263, 4.62868816]])